---
import { Icon } from "astro-icon/components";
import { Button } from "@components/ui/button";

interface Props {
  id?: string;
  href?: string;
  text: string;
  items?: { href: string; text: string }[];
  icon: {
    name: string;
    class?: string;
  };
}

const { id, href, text, items, icon } = Astro.props as Props;
const currentPath = Astro.url.pathname;
const isActive = href === currentPath;
const hasActiveChild = items?.some((item) => item.href === currentPath);
---

<li class="hs-accordion" id={id}>
  {
    items ? (
      <Button
        type="button"
        variant="ghost"
        className={`hs-accordion-toggle w-full justify-start ${isActive || hasActiveChild ? "text-primary" : ""}`}
        aria-expanded={hasActiveChild ? "true" : "false"}
        aria-controls={id}
      >
        <Icon name={icon.name} size={32} />
        {text}
        <Icon
          name="mdi:chevron-down"
          class="ms-auto hs-accordion-active:rotate-180"
          size={20}
        />
      </Button>
    ) : (
      <a href={href}>
        <Button
          type="button"
          variant="ghost"
          className={`hs-accordion-toggle w-full justify-start ${isActive ? "text-primary" : ""}`}
        >
          <Icon name={icon.name} size={32} />
          {text}
        </Button>
      </a>
    )
  }
  {
    items && (
      <div
        id={id}
        class:list={[
          "hs-accordion-content w-full overflow-hidden transition-[height] duration-300",
          { hidden: !hasActiveChild },
        ]}
        role="region"
        aria-labelledby={id}
      >
        <ul class="pt-2 ps-2">
          {items.map((item) => {
            const isItemActive = item.href === currentPath;
            return (
              <li>
                <a href={item.href}>
                  <Button
                    variant="ghost"
                    className={`w-full justify-start ${
                      isItemActive ? "text-primary" : ""
                    }`}
                  >
                    {item.text}
                  </Button>
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
</li>
